<% layout("layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br/><br>
            <h3> Create a new Lists</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label><br>
                    <input name="listing[title]" placeholder="Add the Chachy title" type="text" class="form-control" required/>
                    <div class="valid-feedback">Title loooks good!</div>
                    <div class="invalid-feedback">plese enter Title name</div>
                    
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Discription</label><br>
                    <textarea name="listing[description]" placeholder="enter dercription" class="form-control" required></textarea>
                    <div class="invalid-feedback">please write some Discription </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label><br>
                    <input name="listing[image]" type="file" class="form-control" />
                    required
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label><br>
                        <input name="listing[price]" placeholder="enter price" class="form-control" required />
                        <div class="valid-feedback">Price looks good</div>
                        <div class="invalid-feedback">please enter valid price </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label><br>
                        <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required/>
                        <div class="valid-feedback">Country name is valid</div>
                        <div class="invalid-feedback">please enter valid country name </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label><br>
                    <input name="listing[location]" placeholder="enter location" type="text" class="form-control" />
                    <div class="valid-feedback">Location looks good</div>
                    <div class="invalid-feedback">please enter location</div>
                </div>

                <br /><br />
                <button class="btn btn-dark add-btn">Add</button>
                <br/><br>
        </div>
        </form>
    </div>
</body>

</html>